#sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--main-color);
  z-index: 100; }

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff; }

.sidebar-brand span {
  display: inline-block;
  padding: 1rem; }

.sidebar-menu {
  margin-top: 1rem; }

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem; }

.sidebar-menu a {
  display: block;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none; }

.sidebar-menu a.active {
  background: #fff;
  padding: 1rem;
  color: var(--main-color);
  border-radius: 30px 0px 0px 30px; }

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem; }

.sidebar-menu ul li a:hover {
  /* background: #fff;
    padding: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px; */
  color: #000;
  transform: scale(1.2);
  transition: all ease-in-out 0.3s; }
