@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat&family=Roboto+Condensed:wght@300&family=Yaldevi&display=swap");
/* Common */
.none-style {
  list-style: none; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.mb-40 {
  margin-bottom: 40px; }

.col {
  width: calc(calc(100% - 389px) / 3); }

.open {
  display: block !important; }

.css-container-foo-h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 23px;
  color: #999999;
  font-family: 'Yaldevi', sans-serif;
  letter-spacing: .7px; }

.css-container-foo-p {
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .4px; }

.show {
  height: 100% !important; }

/* Common */
.container-details {
  position: relative;
  overflow: hidden;
  height: 842px;
  transform: 1s;
  padding-top: 75px; }

.container-details .container-head {
  display: flex;
  justify-content: center;
  position: relative; }

.container-head .details-img {
  display: flex;
  padding: 0 10px; }

.details-img .main-img {
  margin-right: 25px; }

.details-img .sub-img {
  margin-top: 20px;
  padding-right: 16px; }

.sub-img ul li {
  cursor: pointer;
  padding-bottom: 11px;
  padding-right: 11px;
  padding-left: 11px; }

.container-head .product {
  margin-top: 25px;
  padding: 0 10px;
  max-width: 300px;
  letter-spacing: .4px; }

.product .product-name {
  font-size: 20px;
  font-family: 'Yaldevi', sans-serif;
  color: #2D2D2D;
  padding-bottom: 12px; }

.product .product-cost {
  font-family: 'Libre Baskerville',sans-serif;
  font-size: 20px;
  color: #555555; }

.product .product-color {
  padding: 21px 0 0 0;
  color: #2D2D2D; }

.product .product-color > p {
  font-family: 'Libre Baskerville',sans-serif;
  font-size: 12px;
  line-height: 34px; }

.product .product-color > p > span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; }

.product .product-size {
  margin: 5px 0;
  padding-top: 10px; }

.product .product-size .label-size {
  font-family: 'Libre Baskerville',sans-serif;
  font-size: 15px;
  font-style: oblique;
  margin-top: 5px; }

.product .product-size > div > select {
  padding: 6px 30px 6px 8px;
  font-family: 'Yaldevi', sans-serif; }

.product .aside-action {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.aside-action .add-buy {
  flex-grow: 1;
  padding-right: 20px; }

.aside-action .btn-buy {
  font-size: 14px;
  line-height: 41px;
  color: #fff;
  background-color: #018849;
  font-weight: 600;
  border: none;
  letter-spacing: .4px; }

.aside-action .add-buy:hover .btn-buy {
  background-color: #006637;
  cursor: pointer; }

.aside-action .save-product {
  line-height: 41px;
  width: 40px; }

.aside-action .btn-save:hover > i {
  color: #000; }

.aside-action .btn-save {
  border: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
  border-radius: 100px;
  background-color: #eee; }

.aside-action .btn-save > i {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  color: #fff;
  font-size: 18px;
  display: block; }

.container-foo {
  display: flex;
  justify-content: center;
  font-size: 10px; }

.container-foo .product-code {
  padding: 0 30px; }

.container-foo .brand-product {
  padding: 0 10px; }

.fade {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  font-family: "Libre Baskerville", sans-serif; }

.fade button {
  margin-top: 70px;
  border: 2px solid #ddd;
  display: none;
  padding: 5px 57px;
  text-decoration: none;
  color: #2D2D2D;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 2.2px;
  text-align: center;
  z-index: 999; }

.fade button:hover {
  background-color: #F8F8F8;
  cursor: pointer; }
