<div id="header">
    <div class="header-container">
        <div class="container-logo">
            <a href="/" class="decoration-none"><p>LCS</p></a>
        </div>
        <form action="/search/" class="search-box">
            <input type="text" placeholder="Search for items" name="q">
            <button class="btn-search boder-none">
                <i class="fas fa-search"></i>   
            </button>
        </form>  
        <div class="icon">
            <ul class="icon-selection">
                <li><a href=""><i class="far fa-user"></i></a></li>
                <li><a href=""><i class="far fa-heart"></i></a></li>
                <li><a href=""><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </div>
        </div>      
    </div>
</div>