
               
                    <div id="sidebar">
                        <div class="sidebar-cates">
                            <ul class="cates-list none-style">
                                <li><a href="/items/shirts">Shirts</a></li>
                                <li><a href="/items/dresses">Dresses</a></li>
                                <li><a href="/items/jeans">Jeans</a></li>
                                <li><a href="/items/jackets">Jackets</a></li>
                                <li><a href="/items/gymwear">Gym wear</a></li>
                                <li><a href="/items/blazers">Blazers</a></li>
                                <li><a href="/items/shoes">Shoes</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-contract">
                            <p>Contract</p>
                            <p>Newsletter</p>
                            <p>Subscribe</p>
                        </div>   
                    </div>
            
