
                <div class="col-second">
                    <div id="sidebar">
                        <div class="sidebar-logo upper-text">
                            <p>logo</p>
                        </div>
                        <div class="sidebar-cates">
                            <ul class="cates-list none-style">
                                <li><a href="">Shirts</a></li>
                                <li><a href="">Dresses</a></li>
                                <li class="jeans-js">
                                    <a href="#" class="">
                                        Jeans<i class="fas fa-caret-down"></i>
                                    </a>
                                    <div class="sidebar-sub-items sub-jeans-js ">
                                        <ul class="sub-items-content none-style">
                                            <li><a href="">Skinny</a></li>
                                            <li><a href="">Relaxed</a></li>
                                            <li><a href="">Bootcut</a></li>
                                            <li><a href="">Straight</a></li>
                                        </ul>
                                    </div>       
                                </li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Gymwear</a></li>
                                <li><a href="">Blazers</a></li>
                                <li><a href="">Shoes</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-contract">
                            <p>Contract</p>
                            <p>Newsletter</p>
                            <p>Subscribe</p>
                        </div>   
                    </div>
                </div>
