        <div id="container">
            {{> nav}}
            <div id="container-left">
                <div class="container-header full-width">
                    <div class="content-header-left full-width">
                        <p class="f-left">Jeans</p>
                        <p class="f-right">
                            <i class="fas fa-cart-plus"></i>
                            <i class="fas fa-search"></i>
                        </p>
                    </div>   
                </div>
                <div class="container-img ">
                    <img src="/img/jeans.jpg" alt="Jeans" class="full-width">
                    <div class="img-content">
                        <h1 class="img-content-1 font-64 text-white margin-t-b">New arrivals</h1>
                        <h1 class="img-content-2 text-white margin-t-b upper-text">COLLECTION 2016</h1>
                        <p class="mtb-15 ">     
                            <a href="#" class="font-18 text-white upper-text none-decoration img-btn-sn">shop now</a>
                        </p>
                    </div>
                </div>
            </div>      
        </div>   