        <div id="dashboard">
            {{> admin/db_sidebar}}
            <div class="main-content">
                {{> admin/db_header}}
                <main>
                    <div class="cards">
                        <div class="cards-single">
                            <div>
                                <h1>{{users}}</h1>
                                <span>Customer</span>
                            </div>
                            <div>
                                <span class="las la-users"></span>
                            </div>
                        </div>

                        <div class="cards-single">
                            <div>
                                <h1>{{staffs}}</h1>
                                <span>Staff</span>
                            </div>
                            <div>
                                <span class="las la-user-tie"></span>
                            </div>
                        </div>

                        <div class="cards-single">
                            <div>
                                <h1>{{items}}</h1>
                                <span>Items</span>
                            </div>
                            <div>
                                <span class="las la-shopping-bag"></span>
                            </div>
                        </div>

                        <div class="cards-single">
                            <div>
                                <h1>$6k</h1>
                                <span>Income</span>
                            </div>
                            <div>
                                <span class="lab la-google-wallet"></span>
                            </div>
                        </div>
                    </div>
                </main>
<script>
    const users = document.querySelector('.dashboard');
    users.classList.toggle('active');
</script>