            
                <header>
                    <h1>
                        <label for="">
                            <span class="las la-bars bars-js"></span>
                        </label>
                        Dashboard 
                    </h1>
                    <div class="search-wrapper">
                        <span class="las la-search"></span>
                        <input type="search" placeholder="Search here">
                    </div>
                    <div class="user-wrapper">
                    {{#with admin}}
                        <img src="{{this.img}}" alt="" width="40px" height="40px">
                        <div>
                            <h4>{{this.username}}</h4>
                            <small>Super Admin</small>
                        </div>
                    {{/with}}
                    </div>      
                </header>
            