            <div id="sidebar">
                <div class="sidebar-brand">
                    <h2><span class="las la-igloo"></span>LCS</h2>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/admin/dashboard" class="dashboard"><span class="las la-igloo"></span>
                            <span>Dashboard</span></a>                     
                        </li>
                        <li>
                            <a href="/admin/users" class="users"><span class="las la-users"></span>
                            <span>Users</span></a>
                        </li>
                        <li>
                            <a href="/admin/products" class="products"><span class="lab la-product-hunt"></span>
                            <span>Products</span></a>
                        </li>
                        <li>
                            <a href="/admin/profile" class="profile"><span class="las la-user-circle"></span>
                            <span>Profile</span></a>
                        </li>
                    </ul>
                </div>
            </div>